__pycache__/quiz_grader.cpython-310.pyc
ProgrammingforDataScienceandPracticalStatistics-all_0.csv
.streamlit/secrets.toml
credentials.json
quiz-grader-github.code-workspace
quiz-grader-R.ipynb
token.json
credentials_algoritma.json
token_algoritma.json
.streamlit/secrets_old.toml
.streamlit/secrets_algodata.toml
ExploratoryDataAnalysisEDAQuiz-all_0.csv
__pycache__/quiz_grader.cpython-311.pyc
